.header {
	text-align: center;
	font-family: comicsans;
}

.nav {
	background-color: grey;
	padding: 25px;
	text-align: center;
	color: white;
	font-family: comicsans;
}

.main {
	font-family: comicsans;
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

@font-face {
	font-family: "comicsans";
	src: url("COMIC.TTF");
}
